<html>
<head>
<title>
User Managent - Admin
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <br> <br><center>
    <span class="glyphicon glyphicon-tint" style="color:white;font-size:60px"></span>
    <a href = "/"><h2 style="color:white"><b><u>User Management</u></b></h2></a>
    <h4 style="color:white"><i>Welcome to admin panel</i></h4>
  </center>
</nav>
<br><center><h3><b>Login</b></h3></center><br>
<div class="col-md-3"></div>
<div class="col-md-6">
  {% if msg %}
  <div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <center><strong>Sorry!</strong> {{ msg }}.</center>
  </div>
{% endif %}
  <form name="login" action="/" method="POST">
  <div class="form-group">
  <input class="form-control" type="text" name="aname" placeholder="Admin name" required/><br>
  <input class="form-control" type="password" name="password" placeholder="Password" required/><br>
  <button class="form-control" style="background-color:#333;color:white;" type="submit" class="btn btn-info btn-block"><b>Login</b></button>
  </form>
</div>
<div class="col-md-3"></div>

</body>
</html>
