{% extends "base.html" %}

{% block content %}
<br><center><h3><b>Login</b></h3></center><br>
<div class="col-md-3"></div>
<div class="col-md-6">
{% if msg %}
  <div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <center><strong>Sorry!</strong> {{ msg }}.</center>
  </div>
{% endif %}
{% if info %}
  <div class="alert alert-info alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <center><strong> {{ info }} </strong></center>
  </div>
{% endif %}
{% if done %}
  <div class="alert alert-success alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <center><strong> {{ done }} </strong></center>
  </div>
{% endif %}
  <form name="login" action="/login" method="POST">
  <div class="form-group">
  <input class="form-control" type="email" name="email" placeholder="Email" required/><br>
  <input class="form-control" type="password" name="password" placeholder="Password" required/><br>
  <button class="form-control" style="background-color:#333;color:white;" type="submit" class="btn btn-info btn-block"><b>Login</b></button>
  </form>
  <br>
  <a href="/signup"><button type="button" class="btn btn-info btn-block" style="background-color:#333;color:white;" id="Register"><b>Register</b></button></a>
</div>
<div class="col-md-3"></div>
{% endblock %}
  
