{% extends "base.html" %}

{% block content %}


  <br><center><h4><b>Register Here!</b></h4></center><br>
  <div class="col-md-3"></div>
  <div class="col-md-6">
      <form name="register" action="/signup" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="fname" placeholder="First Name" required/><br>
          <input class="form-control" type="text" name="lname" placeholder="Last Name" required/><br>
          <input class="dcText" id="m" type="radio" name="sex" value="male" checked/>
	  <label class="radioLabel" for="m">Male</label>
          <input class="dcText" style="margin-left: 20px;" id="n" type="radio" name="sex" value="female"/>
	  <label class="radioLabel" for="n">Female</label>
          <input class="form-control" type="text" name="dept" placeholder="Department" required/><br>
          <input class="form-control" type="text" name="dist" placeholder="District" required/><br>
          <input class="form-control" type="text" name="phone" placeholder="Phone" required/><br>
          <input class="form-control" type="email" name="email" placeholder="Email" required/><br>
          <input class="form-control" id="password" type="password" placeholder="Password" name="cpassword" required></input>
          <span class="help-block dcText">Minimum of 6 characters</span>
          <input class="form-control" id="confirm_password" type="password" placeholder="Re-Type Password" name="password"  required></input><br>
          <button class="form-control" style="background-color:#333;color:white;" type="submit" class="btn btn-info btn-block"><b>Register</b></button></form>
</div>
          <center><br><b>Already registered?</b></center><br>
          <a href="/login"><button type="button" class="btn btn-info btn-block" style="background-color:#333;color:white;" id="login"><b>Login</b></button></a><br><br>

<script>
var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

function validatePassword(){
  if(password.value != confirm_password.value) {
    confirm_password.setCustomValidity("Passwords Don't Match");
  } else {
    confirm_password.setCustomValidity('');
  }
}

password.onchange = validatePassword;
confirm_password.onkeyup = validatePassword;
</script>
{% endblock %}
