{% extends "userbase.html" %}

{% block content %}

  <br>
    <center><h2><b>{{name}}</b></h2></center><br>
    <div class="container text-center">
        <br>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse01"><b>Name</b>:&nbsp;&nbsp;&nbsp;{{name}}</a>
                </h3>
            </div>
            <div aria-expanded="false" style="height: 0px;" id="collapse01" class="panel-collapse collapse">
                <div class="panel-body">
                    <form action="/change_name" method="POST">
                    <input type="text" name="fname" placeholder="Enter First Name"/><br><input type="text" name="lname" placeholder="Enter Last Name"/><br><br><input type="submit" value="Change"/></form>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse02"><b>Gender</b>:&nbsp;&nbsp;&nbsp;{{gender}}</a>
                </h3>
            </div>
            <div aria-expanded="false" style="height: 0px;" id="collapse02" class="panel-collapse collapse">
                <div class="panel-body">
                    <form action="/change_gender" method="POST">
                    <div class="radio">
                      <label><input type="radio" name="gender" value="male">Male</label>
                    </div>
                    <div class="radio">
                    <label><input type="radio" name="gender" value="female">Male</label>
                    </div><input type="submit" value="Change"/>
                    </form>
                  </div>
              </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse03"><b>Department</b>:&nbsp;&nbsp;&nbsp;{{dept}}</a>
                </h3>
            </div>
            <div aria-expanded="false" style="height: 0px;" id="collapse03" class="panel-collapse collapse">
                <div class="panel-body">
                    <form action="/change_dept" method="POST">
                    <input type="text" name="dept" placeholder="Enter department"/><br><input type="submit" value="Change"/></form>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse04"><b>Phone</b>:&nbsp;&nbsp;&nbsp;{{phone}}</a>
                </h3>
            </div>
            <div aria-expanded="false" style="height: 0px;" id="collapse04" class="panel-collapse collapse">
                <div class="panel-body">
                    <form action="/change_phone" method="POST">
                    <input type="text" name="phone" placeholder="Enter Phone Number"/><br><input type="submit" value="Change"/></form>
                </div>
            </div>
        </div>
       
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a aria-expanded="false" class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse05"><b>District</b>:&nbsp;&nbsp;&nbsp;{{dist}}</a>
                </h3>
            </div>
            <div aria-expanded="false" style="height: 0px;" id="collapse05" class="panel-collapse collapse">
                <div class="panel-body">
                    <form action="/change_dist" method="POST">
                    <input type="text" name="dist" placeholder="Enter District"/><br><input type="submit" value="Change"/></form>
                </div>
            </div>
        </div>
    

{% endblock %}
