<html>
<head>
<title>
User Management - Admin
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <br> <br><center>
    <span class="glyphicon glyphicon-tint" style="color:white;font-size:60px"></span>
    <a href="/"><h2 style="color:white"><b><u>User Management</u></b></h2></a>
    <h4 style="color:white"><i>Simple demo on user management</i></h4>
  </center>
    
   <ul class="nav navbar-nav navbar-right">
      <li><a href="/logout"><span class="glyphicon glyphicon-logout"></span> Logout</a></li>
    </ul>
     <ul class="nav navbar-nav navbar-left">
       <li><a href="/getusers"><span class="glyphicon glyphicon-refresh"></span>&nbsp;Refresh</a></li>
     </ul>
  </div>
</nav>
{% if users %}
  <br><center><h3><b>Registered Users</b></h3></center><br>
  <div class="container text-center">
      <table class="table table-striped text-center">
      <thead>
	<tr>
            <th class="text-center">First name</th>
            <th class="text-center">Last name</th>
            <th class="text-center">Gender</th>
            <th class="text-center">Department</th>
            <th class="text-center">email</th>
            <th class="text-center">Phone</th>
            <th class="text-center">District</th>
	    <th class="text-center">Logged in</th>
            <th class="text-center">Remove</th>
        </tr>
      </thead>
      <tbody>
         {% for j in users %}
         <tr>
            <td>{{ j[0] }}</td>
            <td>{{ j[1] }}</td>
            <td>{{ j[2] }}</td>
            <td>{{ j[3] }}</td>
            <td>{{ j[6] }}</td>
            <td>{{ j[4] }}</td>
            <td>{{ j[5] }}</td>
            <td>{{ j[8] }}</td>
	    <td><form action="/delete_user" method="POST"><input type="hidden" name="uname" value="{{ j[6] }}"><input type="submit" value="Delete"/></form></td>
         </tr>
         {% endfor %}
       
      </tbody>
      </table>
  </div>
{% endif %}
{% if msg %}
<div class="alert alert-danger alert-dismissable fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <center><strong>Sorry </strong> {{ msg }}.</center>
  </div>
{% endif %}
</body>
</html>
