<html>
<head>
<title>
User Management
</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <br> <br><center>
    <span class="glyphicon glyphicon-tint" style="color:white;font-size:60px"></span>
    <a href="/"><h2 style="color:white"><b><u>User Management</u></b></h2></a>
    <h4 style="color:white"><i>Simple demo on user management</i></h4>
  </center>
    
   <ul class="nav navbar-nav navbar-right">
      <li><a href="/user_profile"><span class="glyphicon glyphicon-user"></span>{{ name }}</a></li>
      <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
{% block content %}
{% endblock %}
</body>
</html>

